# Dependencias
node_modules/
jspm_packages/
.pnp*

# Compilación y Salida
dist/
build/
bin/
obj/
out/
coverage/

# Variables de Entorno (¡CRÍTICO!)
.env
.env.local
.env.*.local
*.env
local.properties
secrets.properties

# Android Específico
.gradle/
.idea/
captures/
*.keystore
*.jks
*.apk
*.aab
google-services.json
GoogleService-Info.plist

# Capacitor Específico
www/
capacitor.config.json.user

# Logs y SO
*.log
.DS_Store
Thumbs.db
desktop.ini
